<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fody" version="6.1.1" targetFramework="net40" developmentDependency="true" />
  <package id="Hardcodet.NotifyIcon.Wpf" version="1.0.8" targetFramework="net40" />
  <package id="Hardcodet.Wpf.TaskbarNotification" version="1.0.5" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net40" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net40" />
  <package id="NLog" version="4.7.0" targetFramework="net40" />
  <package id="NLog.Config" version="4.7.0" targetFramework="net40" />
  <package id="NLog.Schema" version="4.7.0" targetFramework="net40" />
  <package id="PropertyChanged.Fody" version="3.2.8" targetFramework="net40" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net40" />
  <package id="Theraot.Core" version="3.1.0" targetFramework="net40" />
  <package id="Vanara.Core" version="3.2.7" targetFramework="net40" />
  <package id="Vanara.PInvoke.Gdi32" version="3.2.7" targetFramework="net40" />
  <package id="Vanara.PInvoke.Kernel32" version="3.2.7" targetFramework="net40" />
  <package id="Vanara.PInvoke.Shared" version="3.2.7" targetFramework="net40" />
  <package id="Vanara.PInvoke.User32" version="3.2.7" targetFramework="net40" />
</packages>